body {
  background: url('../images/area-51.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

#message {
  color: white;
  text-align: center;
  width: 80%;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
}

button {
  text-transform: uppercase;
}
