* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

#game-area {
  background-color: black;
  font-size: xx-large;
  width: 300px;
  height: 500px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ship {
  color: white;
  position: absolute;
  transform: translateX(-50%) rotate(-45deg);
}

.meteor {
  color: red;
  transform: rotate(-45deg);
  position: absolute;
}

.message {
  display: none;
  color: red;
  font-size: xx-large;
  z-index: 10;
}

#hit-message__button {
  font-size: xx-large;
  border: none;
  background: white;
  color: black;
  width: 100%;
  font-family: inherit;
}

.message.show {
  display: block;
}

#controls {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.control {
  border: none;
  background: black;
  color: white;
  padding: 1em;
  border-radius: 20%;
}

.control:hover {
  background: grey;
  color: black;
}

.control,
.control * {
  cursor: pointer;
}

#arrowup {
  grid-column: 2;
  grid-row: 1;
}

#arrowdown {
  grid-column: 2;
  grid-row: 3;
}

#arrowleft,
#arrowright {
  grid-row: 2;
}

#arrowleft {
  grid-column: 1;
}

#arrowright {
  grid-column: 3;
}

@media screen and (min-width: 768px) {
  #game-area {
    width: 500px;
  }
}

@media screen and (min-width: 1024px) {
  #game-area {
    width: 700px;
  }
}
