@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(black 0%, blue 100%);
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

button {
  color: #fff;
  font-family: inherit;
  font-size: 2.5rem;
  padding: 0.2em 0.5em;
  margin: 0.3em;
  cursor: pointer;
  /* From https://css.glass */
  background: rgba(1, 1, 1, 0.53);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.8px);
  -webkit-backdrop-filter: blur(15.8px);
  border: 1px solid rgba(1, 1, 1, 0.42);
  transition: all 200ms ease-in-out;
}

button:active {
  background-color: #ffcb43;
  background-image: linear-gradient(
    319deg,
    #ffcb43 0%,
    #ff6425 37%,
    #ff0016 100%
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu,
#message {
  padding: 0.25rem 0.5rem;
  font-size: max(18px, 3.5vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.4px);
  -webkit-backdrop-filter: blur(13.4px);
  border: 1px solid rgba(255, 255, 255, 0.42);
}

/* Menu styles */
#menu {
  position: absolute;
  z-index: 1000;
  height: 90%;
  width: 90%;
  font-weight: 900;
}

#menu > h1,
#menu ul {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    56deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 67%,
    rgba(2, 0, 36, 1) 100%
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu > h1 {
  text-transform: uppercase;
}

#menu > ul {
  list-style-type: none;
  text-align: center;
}

/* Game styles */
#game-area {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    56deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 67%,
    rgba(1, 100, 120, 1) 100%
  );
  background-size: auto 100000%;
  font-size: max(1em, 2vw);
  color: white;
  height: max(70vh, 500px);
  min-width: 300px;
  aspect-ratio: 3/5;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(1, 1, 1, 0.42);
}

#ship {
  color: white;
  position: absolute;
  transform: translateX(-50%) rotate(-45deg);
  font-size: max(30px, 4.5vh);
}

#ship.left {
  transform: translateX(-50%) rotate(-55deg);
}

#ship.right {
  transform: translateX(-50%) rotate(-35deg);
}

.meteor {
  color: red;
  transform: rotate(-45deg);
  position: absolute;
  font-size: max(30px, 4.5vh);
}

#message {
  display: none;
  color: #ffb700;
  z-index: 10;
}

.hit-message > #hit-message__button {
  display: block;
}

#message.show {
  display: flex;
}

/* Controls styling */
#controls {
  height: calc(95vh - max(500px, 80vh));
  min-height: 75px;
  width: max(300px, 44vh);
  display: flex;
  justify-content: space-around;
}

.control {
  aspect-ratio: 1 / 1;
  width: 45%;
  font-size: clamp(1.5em, 2.5vh, 2em);
}

.control,
.control * {
  cursor: pointer;
}

#arrowleft {
  grid-column: 1;
  margin-right: 1em;
}

#arrowright {
  grid-column: 3;
  margin-left: 1em;
}

@media screen and (max-height: 600px) {
  body {
    flex-direction: row;
  }
}

@media screen and (hover: hover) {
  button:hover {
    background-color: #ffcb43;
    background-image: linear-gradient(
      319deg,
      #ffcb43 0%,
      #ff6425 37%,
      #ff0016 100%
    );
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* Ending animation */
.homeworld {
  position: absolute;
  font-size: 50vh;
  animation: homeworld 2s ease-in-out forwards;
}

.ending {
  animation: ending 3s ease-in forwards;
}

@keyframes homeworld {
  0% {
    top: -50vh;
  }

  100% {
    top: -10vh;
  }
}

@keyframes ending {
  0% {
    bottom: 5%;
    transform: translateX(-50%) rotate(-45deg);
  }

  50% {
    bottom: 5%;
    transform: translateX(-50%) rotate(-45deg);
  }

  100% {
    bottom: 85%;
    transform: translateX(-50%) rotate(-45deg) scale(0.1);
  }
}

#glarp-face {
  height: 45%;
}
